<div class="main">
  <div class="body">
    <div class="date-of-submission">
      <div class="head-date">Date of submission</div>
      <div class="date">{{ dateOfSubmission }}</div>
    </div>
    <div class="reason-for-resignation">
      <div class="head-reason-resignaiton">Reason For Resignation</div>
      <div class="reasons">
        <div class="reason">{{ reasonResignationPrimary }}</div>
        <div class="reason">{{ reasonResignationSecondary }}</div>
        <div class="reason">{{ reasonResignationTritary }}</div>
      </div>
    </div>
    <div class="notes-from-employee">
      <div class="head-notes">Notes</div>
      <div class="notes-desc">{{ notesFromEmployee }}</div>
    </div>
  </div>
</div>
