<div class="container-fluid backlogs-main-page">
  <mat-card>
    <div class="d-flex justify-content-between align-items-center p-3">
      <header class="header-backlogs">Backlogs</header>
      <mat-icon class="more-options-icon">more_horiz </mat-icon>
    </div>

    <div class="unit-wrapper">
      <div
        class="input-group ml-3 p-3 d-flex justify-content-start align-items-center"
      >
        <div class="d-flex align-items-center">
          <input
            type="text"
            class="form-control search-input"
            placeholder="Search"
          />
        </div>
        <div class="people-involved-profile-icon">
          <mat-icon class="account-icon">account_circle</mat-icon>
          <mat-icon class="add-icon">person_add</mat-icon>
        </div>

        <div class="field-dropdown">
          <div class="sprint-wrapper-dropdown ml-2">
            <mat-form-field
              class="d-flex align-items-center"
              appearance="outline"
            >
              <mat-select
                placeholder="Types"
                #typeSelect
                placeholder="{{ getSelectedTypeName() }}"
                [(value)]="selectedTypeValue"
              >
                <mat-option
                  class="option-iteration"
                  *ngFor="let option of selectedTypes"
                  [value]="option.id"
                >
                  <div class="p-0 d-flex justify-content-between flex-row">
                    <span class="my-auto"> {{ option.name }}</span>
                    <div
                      class="my-auto d-flex justify-content-start person-select"
                    >
                      <mat-icon
                        class="icon-feature"
                        [ngStyle]="{ color: option.iconColor }"
                        >{{ option.itsIcon }}</mat-icon
                      >
                    </div>
                  </div>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="sprint-wrapper-dropdown ml-2">
            <mat-form-field
              class="d-flex align-items-center"
              appearance="outline"
            >
              <mat-select
                [@fadeInOut]
                placeholder="Types"
                #typeSelect
                placeholder="{{ getSelectedTypeName() }}"
              >
                <mat-option
                  class="option-iteration"
                  *ngFor="let option of selectedType"
                  [value]="option.id"
                >
                  <div class="p-0 d-flex justify-content-between flex-row">
                    <span class="my-auto"> {{ option.name }}</span>
                    <div
                      class="my-auto d-flex justify-content-start person-select"
                    >
                      <mat-icon [ngStyle]="{ color: option.iconColor }">{{
                        option.itsIcon
                      }}</mat-icon>
                    </div>
                  </div>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>

    <!-- Boards -->
    <div
      class="boards-display-container"
      cdkDropList
      id="boards"
      (cdkDropListDropped)="onTaskDropped($event, 'boards')"
    >
      <header class="header-boards">
        <mat-icon (click)="toggleIcon('boards')">
          {{ isExpandedBoard ? "expand_more" : "chevron_right" }}
        </mat-icon>
        Boards
        <p>({{ issueList.length }} issues)</p>
        <a> 24 Jul - 31 Aug </a>
        <div class="leftMost">
          <div *ngFor="let status of statusIndication">
            <div
              class="circleStatus"
              matTooltip="{{ status.toolTipValue }}"
              [ngStyle]="{
                'background-color': status.color,
                color: status.color === 'lightgrey' ? '#172B4D' : '#F4F5F7'
              }"
            >
              {{ status.value ? status.value : issueList.length }}
            </div>
          </div>
          <button mat-button class="completed-sprint">Complete Sprint</button>
          <div class="more-option-header"><mat-icon>more_horiz</mat-icon></div>
        </div>
      </header>

      <ng-container *ngIf="issueList.length === 0; else issuesPresent">
        <div [@collapsedSection]="!isExpandedBoard" class="board-tasks">
          <div class="outline-board-tasks" *ngIf="!isExpandedBoard">
            <div class="image">
              <img
                src="../../../assets/issue svg.svg"
                alt="no issue"
                width="80px"
              />
            </div>
            <div class="no-issues">There are no issues on the board.</div>
          </div>
        </div>
      </ng-container>

      <ng-template #issuesPresent>
        <div [@expandedSection]="isExpandedBoard" class="issues-present">
          <ng-container *ngFor="let item of issueList">
            <div class="list-of-issues" cdkDrag [cdkDragData]="item">
              <ng-container *ngIf="item.editMode; else issueNameDisplay">
                <input
                  type="text"
                  class="input-edit-task"
                  [(ngModel)]="item.issueName"
                  (blur)="toggleEditMode(item)"
                />
              </ng-container>

              <ng-template #issueNameDisplay>
                <div class="issueName" (dblclick)="toggleEditMode(item)">
                  <mat-icon
                    [ngStyle]="{ color: item.iconColor }"
                    matTooltip="{{ item.toolTipValue }}"
                    >{{ item.issueType }}</mat-icon
                  >
                  {{ item.issueName }}
                </div>
              </ng-template>
              <div class="issueToProfile">
                <button class="deployed">
                  DEPLOYED <mat-icon>expand_more</mat-icon>
                </button>

                <mat-icon>account_circle</mat-icon>
                <mat-icon class="more-options" [matMenuTriggerFor]="menu"
                  >more_vertz</mat-icon
                >

                <mat-menu class="menu-options-all" #menu="matMenu">
                  <button mat-menu-item (click)="toggleEditMode(item)">
                    <mat-icon>edit</mat-icon>
                    Edit Task
                  </button>
                  <button mat-menu-item (click)="deleteIssue('boards', item)">
                    <mat-icon>delete</mat-icon>

                    Remove
                  </button>
                  <button mat-menu-item (click)="moreOptions()">
                    <mat-icon>more_vertz</mat-icon>

                    More Options
                  </button>
                  <button mat-menu-item (click)="addFlag()">
                    <mat-icon>add</mat-icon>
                    Add Flag
                  </button>
                </mat-menu>
              </div>
            </div>
            <!-- </div> -->
          </ng-container>
        </div>
      </ng-template>

      <div class="create-issue">
        <div class="addTask" (click)="toggleInputField('boards')">
          <mat-icon>add</mat-icon>
          <p>Add Upcoming work here</p>
        </div>

        <ng-container *ngIf="showInputFieldBoards">
          <div class="input-field-add-task">
            <input
              type="text"
              [(ngModel)]="newIssueBoards"
              (blur)="addNewIssue('boards')"
            />
            <mat-icon (click)="addNewIssue('boards')">done</mat-icon>
            <mat-icon (click)="closeInputField('boards')">close</mat-icon>
          </div>
        </ng-container>
      </div>
    </div>

    <hr />

    <!-- Backlogs -->
    <div
      class="boards-display-container"
      cdkDropList
      id="backlogs"
      (cdkDropListDropped)="onTaskDropped($event, 'backlogs')"
    >
      <header class="header-boards">
        <mat-icon (click)="toggleIcon('backlogs')">
          {{ isExpandedBacklog ? "expand_more" : "chevron_right" }}
        </mat-icon>

        Backlogs
        <p>({{ backlogList.length }} issues)</p>
      </header>

      <ng-container
        *ngIf="backlogList.length === 0; else issuesPresentBacklogs"
      >
        <div
          [@collapsedSection]="!isExpandedBacklog"
          *ngIf="!isExpandedBacklog"
          class="board-tasks"
        >
          <div class="outline-board-tasks">
            <div class="image">
              <img
                src="../../../assets/empty svg.svg"
                alt="no issue"
                width="150px"
              />
            </div>
            <div class="no-issues">
              Plan and prioritize future works in your backlog
            </div>
          </div>
        </div>
      </ng-container>

      <ng-template #issuesPresentBacklogs>
        <div [@expandedSection]="isExpandedBacklog" class="issues-present">
          <ng-container *ngFor="let item of backlogList">
            <div class="list-of-issues" cdkDrag [cdkDragData]="item">
              <ng-container *ngIf="item.editMode; else issueNameDisplay">
                <input
                  type="text"
                  class="input-edit-task"
                  [(ngModel)]="item.issueName"
                  (blur)="toggleEditMode(item)"
                />
              </ng-container>

              <ng-template #issueNameDisplay>
                <div class="issueName" (dblclick)="toggleEditMode(item)">
                  <mat-icon
                    [ngStyle]="{ color: item.iconColor }"
                    matTooltip="{{ item.toolTipValue }}"
                    >{{ item.issueType }}</mat-icon
                  >
                  {{ item.issueName }}
                </div>
              </ng-template>
              <div class="issueToProfile">
                <mat-icon>account_circle</mat-icon>
                <mat-icon class="more-options" [matMenuTriggerFor]="menu"
                  >more_vertz</mat-icon
                >

                <mat-menu class="menu-options-all" #menu="matMenu">
                  <button mat-menu-item (click)="toggleEditMode(item)">
                    Edit Task
                  </button>
                  <button mat-menu-item (click)="deleteIssue('backlogs', item)">
                    Remove
                  </button>
                  <button mat-menu-item (click)="moreOptions()">
                    More Options
                  </button>
                  <button mat-menu-item (click)="addFlag()">Add Flag</button>
                </mat-menu>
              </div>
            </div>
            <!-- </div> -->
          </ng-container>
        </div>
      </ng-template>

      <div class="create-issue">
        <div class="addTask" (click)="toggleInputField('backlogs')">
          <mat-icon>add</mat-icon>
          <p>Add Upcoming work here</p>
        </div>

        <ng-container *ngIf="showInputFieldBacklogs">
          <div class="input-field-add-task">
            <input
              type="text"
              [(ngModel)]="newIssueBoards"
              (blur)="addNewIssue('backlogs')"
            />
            <mat-icon (click)="addNewIssue('backlogs')">done</mat-icon>
            <mat-icon (click)="closeInputField('backlogs')">close</mat-icon>
          </div>
        </ng-container>
      </div>
    </div>
  </mat-card>
</div>
