.backlogs-main-page {
    height: 100vh;
    padding: 1rem;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // width: 100%;
    background-color: lightgray;

    mat-card {
        height: 80vh;
        margin-top: 9rem;

        .header-backlogs {
            font-family: 'Roboto';
            font-size: 18px;
            color: #9a9a9a;
            // padding: 1rem 2rem;
        }

        .more-options-icon:hover {
            cursor: pointer;

        }

        .unit-wrapper {

            display: flex;
            justify-content: center;
            align-items: center;

            .input-group {
                gap: 2%;

                .search-input {
                    border-radius: 4px;
                    background-color: #fff;
                    border: 2px solid #dbdbdb;
                    height: 40px;
                }

                .search-icon-container {
                    position: relative;
                    margin-left: -30px;
                    pointer-events: none;
                }

                .search-icon {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 10px;
                }

                .form-control:focus {
                    border-color: #9a9a9a;
                    outline: 0;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                }
            }

            .people-involved-profile-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;

                .account-icon {
                    color: #d0d0d0;
                    // font-size: 20px;
                }

                .add-icon {
                    font-size: 18px;
                    color: #7A869A;
                    margin-top: 5px;
                }
            }

            .field-dropdown {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2%;
                margin-left: auto;

                // .icon-feature {
                //     font-size: 10px !important;
                // }
            }
        }

        .boards-display-container {
            background-color: #F4F5F7;
            height: auto;
            width: 96%;
            border: none;
            border-radius: 4px;
            padding: 1rem;
            /* margin: 2% 0% 2% 2%; */
            margin-left: 2%;
            margin-top: 2%;




            .header-boards {
                color: #172B4D;
                font-family: "Roboto";
                font-size: 16px;
                font-weight: 550;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 1px;

                mat-icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 18px;
                    cursor: pointer;
                }

                p {
                    margin: 0 0 0px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 12px;
                    margin-left: 4px;
                    font-family: "Roboto";
                    color: #6B778C;
                }

                a{
                    font-family: "Roboto";
                    color: #6B778C;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 11px;
                    opacity: 0.7;
                    margin-left: 6px;
                }
                .leftMost {
                    margin-left: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 4px;

                    .circleStatus {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 22px;
                        width: 26px;
                        border-radius: 43%;
                        // background-color: #172B4D;
                        font-size: 10px;
                        // color: #F4F5F7;
                        font-weight: 600;
                    }

                    button {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: 1px solid #6B778C;
                        color: #6B778C;
                        font-size: 12px;
                        font-family: 'Roboto';
                        border-radius: 4px;
                        padding: 6px;
                        width: 120px;
                        height: 26px;
                    }

                    .more-option-header {
                        background-color: #a8acb2;
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                        border-radius: 4px;


                        mat-icon {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            // margin-left: 70%;
                        }
                    }
                }


                // button :hover{
                //     background-color: #dbdbdb;
                // }
            }

            .board-tasks {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 1rem;

                .outline-board-tasks {
                    border-style: dashed !important;
                    height: auto;
                    padding: 1rem;
                    opacity: 0.5;
                    border: 2px solid #7A869A;
                    border-radius: 5px;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    gap: 5px;

                    .no-issues {
                        font-size: 13px;
                        font-family: 'Roboto';
                        color: #172B4D;
                        font-weight: 40o;
                    }
                }
            }

            .issues-present {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 1rem;
                flex-direction: column;
                // gap: 0.6rem;

                .list-of-issues {
                    border: 1px solid #EBECF0;
                    margin-top: -1px;
                    background-color: #FAFBFC;
                    // border-radius: 4px;
                    height: auto;
                    padding: 1rem;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .issueName {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-family: "Roboto";
                        font-size: 14px;
                        word-spacing: 0.2px;
                        letter-spacing: 0.28px;

                        mat-icon {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 18px;
                            margin-right: 2px;
                            cursor: pointer;
                        }
                    }

                    .issueToProfile {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 5px;

                        .deployed {
                            display: flex;
                            font-family: 'Roboto';
                            font-weight: 500;
                            justify-content: center;
                            align-items: center;
                            padding: 4px;
                            // border: 2px solid #172B4D;
                            border: none;
                            border-radius: 5px;
                            height: 20px;
                            font-size: 12px;
                            // background-color: #b3cfff;
                            // color: #172B4D;

                            mat-icon {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                height: 20px;
                            }
                        }

                        mat-icon {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 19px;
                            cursor: pointer;
                        }
                    }

                    .input-edit-task {
                        border: 2px solid #7A869A;
                        border-radius: 4px;
                        width: inherit;
                        padding: 10px;
                        height: 35px;
                        max-width: 40%;
                    }
                }

            }

            .more-options {
                // display: flex;
                // justify-content: center;
                // align-items: center;

                .option-icon {
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 14px;
                }
            }
        }

        .create-issue {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 29%;

            .addTask {
                cursor: pointer;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                // gap: 2%;
                width: 100%;

                mat-icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 14px;
                    color: #172B4D;
                    margin-left: 2px;
                    cursor: pointer;
                }

                p {
                    margin: 0 0 0px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 12px;
                    // color: #172B4D;
                    color: #6B778C;
                    font-family: 'Roboto';
                    font-weight: 500;
                }
            }

            .input-field-add-task {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                input {
                    border: 2px solid #7A869A;
                    width: auto;
                    border-radius: 4px;
                    height: 30px;
                }

                mat-icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 17px;
                    color: #172B4D;
                    margin-left: 2px;
                    cursor: pointer;
                }
            }



        }
    }

}

.menu-options-all {
    // display: flex;
    // justify-content: flex-start;
    // align-items: center;
    padding: 1%;

    .menu-options {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: var(--black-40, #a8acb2);
        font-family: "Roboto";
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0.22px;

        .icon-menu {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            color: #a8acb2;
        }
    }

    button:focus {
        outline: none;
    }

    button {
        height: 25px !important;
    }
}



::ng-deep .sprint-wrapper-dropdown .mat-form-field-flex {
    height: 40px !important;
    width: 110px !important;
    margin-top: 14% !important;
}

::ng-deep .sprint-wrapper-dropdown .mat-form-field-flex:hover {
    height: 40px !important;
    width: 110px !important;
    margin-top: 14% !important;
    // font-size: 15px;
    // color: #42526E;
    // background-color: #ECEDF0;
}

.mat-menu-panel {
    width: 120px;
    max-height: 100px;
    overflow-y: auto;
}

::ng-deep .sprint-wrapper-dropdown .mat-form-field-appearance-outline .mat-form-field-infix {

    display: flex;
    align-items: center;
    border-top: 0 solid transparent;
}

::ng-deep .sprint-wrapper-dropdown .mat-form-field-appearance-outline {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

::ng-deep .outline-board-tasks {
    border-style: dashed;
    height: auto;
}

::ng-deep .more-options .mat-menu-item:hover,
.more-options .mat-menu-item:focus {
    outline: none !important;
    border: none !important;
}