<div style="width: 100%; height: 100vh" class="mt-6 ml-6">
  <div style="width: 80%; height: 100vh; margin-top: 5%; margin-left: 5%;">
      <div
        class="row hoverable-row"
        (mouseenter)="showButtons[0] = true"
        (mouseleave)="showButtons[0] = false"
      >
        <div class="col">Row 1 Content</div>
        <div class="col">Content</div>
        <div class="col">Content</div>
        <div class="col">Content</div>
        <div class="col">
          <div class="hover-row-btns" *ngIf="showButtons[0]">
            <button class="rp-btn">Button 1</button>
            <button class="ac-btn">Button 2</button>
          </div>
        </div>
      </div>

    <div
      class="row hoverable-row"
      (mouseenter)="showButtons[1] = true"
      (mouseleave)="showButtons[1] = false"
    >
      <div class="col">Row 2 Content</div>
      <div class="col">Content</div>
      <div class="col">Content</div>
      <div class="col">Content</div>
      <div class="col">
        <div class="hover-row-btns" *ngIf="showButtons[1]">
          <button class="rp-btn">Button 1</button>
          <button class="ac-btn">Button 2</button>
        </div>
      </div>
    </div>
  </div>
</div>
