mat-card {
  height: 400px;
  border-radius: 4px;
  padding: 2rem;
  margin-left: 40rem;


  .header {
    color: var(--black-80, #515965);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    /* 114.286% */
    text-transform: capitalize;
  }

  hr {
    margin-top: 10px;
    margin-bottom: 10px
  }

  .allTiles {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;


    .moduleTile {
      width: 350px;
      border-radius: 4px;
      height: 305px;
      margin-top: 0px;
      background: var(--blue-grey-10, #F6F6F6);

      .tileTypeIndicator {
        border-radius: 4px 4px 0px 0px;
        background: #A8D92B;
        height: 0.5rem;
        width: 114%;
        /* width: 350px; */
        margin-left: -7%;
        /* width: auto; */
        display: flex;
        justify-content: center;
      }

      .tileHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h4 {
          color: var(--black-100, #111434);
          font-family: Roboto;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 14px;
          text-transform: capitalize;
        }

        .moduleCount {
          border-radius: 8px;
          background: rgba(17, 20, 52, 0.10);
          color: var(--black-100, #111434);
          font-family: Roboto;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: 16px;
          width: 20px;
          height: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-transform: capitalize;
        }
      }

      .moduleOne {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 4px;
        background: var(--neutral-white, #FFF);
        padding: 5px;
        height: 30px;
        margin-top: 5px;
        margin-bottom: 10px;

        .moduleName {
          color: var(--blue-grey-100, #45546E);
          font-family: Roboto;
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: 12px;
          /* 133.333% */
          text-transform: capitalize;
        }

        .percentages {
          margin-left: auto;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 3px;

          .completePercentage {
            border-radius: 8px;
            background: #ECFBC6;
            display: flex;
            padding: 0px 4px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            color: var(--blue-grey-100, #45546E);
            font-family: Roboto;
            font-size: 10px;
            font-style: normal;
            font-weight: 700;
            line-height: 16px;
            /* 160% */
            text-transform: capitalize;
          }

          .yetToComplete {
            border-radius: 8px;
            background: #ECFBC6;
            display: flex;
            padding: 0px 4px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            color: var(--blue-grey-100, #45546E);
            font-family: Roboto;
            font-size: 10px;
            font-style: normal;
            font-weight: 700;
            line-height: 16px;
            /* 160% */
            text-transform: capitalize;

          }

        }
      }
    }
  }



}