<div
  style="
    background-color: rgb(241, 241, 241);
    height: 100vh;
    width: 100%;
    padding-top: 30rem;
  "
>
  <mat-card class="col-8">
    <div class="header">Current State Overview</div>

    <hr />
    <div class="allTiles row ">
      <div class="moduleTile col">
        <div class="tileTypeIndicator"></div>
        <div class="tileHeader">
          <h4>Most Functionality Exist</h4>
          <div class="moduleCount">6</div>
        </div>

        <div class="moduleOne">
          <div class="moduleName">Company Management</div>
          <div class="percentages">
            <div class="completePercentage">60%</div>
            <div class="yetToComplete">+3%</div>
          </div>
        </div>

        <div class="moduleOne">
          <div class="moduleName">Company Management</div>
          <div class="percentages">
            <div class="completePercentage">60%</div>
            <div class="yetToComplete">+3%</div>
          </div>
        </div>

        <div class="moduleOne">
          <div class="moduleName">Company Management</div>
          <div class="percentages">
            <div class="completePercentage">60%</div>
            <div class="yetToComplete">+3%</div>
          </div>
        </div>
      </div>

      <div class="moduleTile col">
        <div class="tileTypeIndicator"></div>
        <div class="tileHeader">
          <h4>Most Functionality Exist</h4>
          <div class="moduleCount">6</div>
        </div>

        <div class="moduleOne">
          <div class="moduleName">Company Management</div>
          <div class="percentages">
            <div class="completePercentage">60%</div>
            <div class="yetToComplete">+3%</div>
          </div>
        </div>

        <div class="moduleOne">
          <div class="moduleName">Company Management</div>
          <div class="percentages">
            <div class="completePercentage">60%</div>
            <div class="yetToComplete">+3%</div>
          </div>
        </div>

        <div class="moduleOne">
          <div class="moduleName">Company Management</div>
          <div class="percentages">
            <div class="completePercentage">60%</div>
            <div class="yetToComplete">+3%</div>
          </div>
        </div>
      </div>

      <div class="moduleTile col">
        <div class="tileTypeIndicator"></div>
        <div class="tileHeader">
          <h4>Most Functionality Exist</h4>
          <div class="moduleCount">6</div>
        </div>

        <div class="moduleOne">
          <div class="moduleName">Company Management</div>
          <div class="percentages">
            <div class="completePercentage">60%</div>
            <div class="yetToComplete">+3%</div>
          </div>
        </div>

        <div class="moduleOne">
          <div class="moduleName">Company Management</div>
          <div class="percentages">
            <div class="completePercentage">60%</div>
            <div class="yetToComplete">+3%</div>
          </div>
        </div>

        <div class="moduleOne">
          <div class="moduleName">Company Management</div>
          <div class="percentages">
            <div class="completePercentage">60%</div>
            <div class="yetToComplete">+3%</div>
          </div>
        </div>
      </div>

      <div class="moduleTile col">
        <div class="tileTypeIndicator"></div>
        <div class="tileHeader">
          <h4>Most Functionality Exist</h4>
          <div class="moduleCount">6</div>
        </div>

        <div class="moduleOne">
          <div class="moduleName">Company Management</div>
          <div class="percentages">
            <div class="completePercentage">60%</div>
            <div class="yetToComplete">+3%</div>
          </div>
        </div>

        <div class="moduleOne">
          <div class="moduleName">Company Management</div>
          <div class="percentages">
            <div class="completePercentage">60%</div>
            <div class="yetToComplete">+3%</div>
          </div>
        </div>

        <div class="moduleOne">
          <div class="moduleName">Company Management</div>
          <div class="percentages">
            <div class="completePercentage">60%</div>
            <div class="yetToComplete">+3%</div>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>
